<% if (puesto =="Administración") {%>
    <%- include('templates/menuAdministrador.ejs')%>
  <%}else{%>
    <%- include('templates/menuLogistica.ejs')%>
  <%}%>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script src="https://unpkg.com/scrollreveal"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.18/datatables.min.css">
        <script src="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.18/datatables.min.js"></script>
    
        <!-- Buttons -->
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
        <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
        <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.53/build/pdfmake.min.js"></script>
        <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.53/build/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
        <script src=//cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    
     <!-- Buttons -->
    <title>SCDD | Historial de cambios </title>

    <style>
        table.dataTable{
            border-bottom: 1px solid rgb(201, 201, 201);
        }

        table.dataTable thead{
            background-color: #356967;
            color: azure;
        }

        .page-item.active .page-link{
            border: 1px solid white;
            background-color: #356967;
            color: azure;
        }

        .page-link{
            color: #000;
        }
        
        .dataTables_info{
            color: rgb(65, 65, 65);
        }

        .buttons-excel:hover{
            background-color: #356967;
            color: #fff;
        }

        .buttons-excel{
            border: 1px solid #356967;
            color: #356967;
        }

        label {
  color: #fff;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 5px;
}

    </style>
</head>
<div id="registro" class="text-white">.</div>

<div class="mx-5 shadow border border-muted" style="border-radius: 9px; background-color: rgba(172, 172, 172, 0.152);">
    <p class="pt-4 mb-4 text-center text-muted fw-bold h2 top" style="font-family: 'Quicksand', sans-serif;"><i class="fa-solid fa-clock-rotate-left text-secondary"></i> Historial de cambios en rol de transporte</p>
    <div class="row mx-2 d-flex justify-content-between p-0" style="background-color: transparent">
        <div class="my-1 card text-center  pt-4 col-sm-3" style="border: none; background-color: transparent">
            <div class="card-header mx-3 border border-secondary">
                <strong class="text-secondary fw-bold" style="font-family: 'Quicksand', sans-serif;"> <i class="fa-solid fa-magnifying-glass"></i> Buscar:</strong>
              </div>
            <div class="card-body col-12 px-0">
                <nav class="navbar col-12 px-3">
                    <div class="container-fluid p-0">
                        <input class="form-control col-12 fw-bold border border-secondary pt-0" id="buscarData" type="text" placeholder="Buscar" aria-label="Search">
                    </div>
                  </nav>
            </div>
          </div>
          <div class="col-sm-9 px-5 ps-3 mb-4">
            <table id="myTable" class="table table-bordered table-hover border border-success" style="width:100%">
                <thead>
                    <tr>
                        <th class="text-center col-sm-3">Fecha y hora emisión</th>
                        <th class="text-center">No. Cambio</th>
                        <th class="text-center">Encargado</th>
                        <th class="text-center">Documento</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <% historial.forEach((historial)=>{ %>
                    <tr>
                        <td class="small text-muted fw-bold"><%= historial.fecha_hora_emision%></td>
                        <td class="small text-muted fw-semibold"><%= historial.numero_cambio%></td>
                        <td class="small text-muted fw-semibold"><%= historial.nombre_encargado%> <br>  <small class="text-muted"><%= historial.email_encargado%></small></td>
                        <td class="small text-muted fw-semibold">
                            <% if((historial.formato_cambio==null) || (historial.formato_cambio.includes("undefined")) || (historial.formato_cambio=="") || (historial.formato_cambio[historial.formato_cambio.length-1]=='-')){
                             var estado ="disabled";}
                                %>
                            <button data-bs-toggle="modal" id="btnmodal_tarjeton" data-bs-target="#modal_tarjeton" type="button" data-nom="<%= historial.numero_cambio%>" data-pdf="<%= historial.formato_cambio%>" data-fec="<%= historial.fecha_hora_emision%>"  class="btn <%= estado%> btn-sm col-12 btn-outline-secondary fw-semibold">
                                <i class="fa-solid fa-download"></i> Rol de transporte</button>
                        </div></td>
                        <td class="align-middle align-items-center pe-0">
                                <button type="button" id="btnmodal" data-bs-toggle="modal" data-bs-target="#exampleModalToggle" 
                                data-nom="<%= historial.nombre_encargado%>" data-identidad="<%= historial._id%>" 
                                data-cambio="<%= historial.numero_cambio%>"
                                data-fecha="<%= historial.fecha_hora_emision%>" 
                                data-formato="<%= historial.formato_cambio%>" 
                                data-correo="<%= historial.email_encargado%>" class="ps-2" style="background: transparent; border: none;">
                                <small><i class="fa-solid fa-upload" style="color: rgba(128, 128, 128, 0.618); background: transparent; border: none;"></i></small></button>
                    </td>
                    </tr>
                      <!--Modulo de JS en SCRIPT-->
        <script>
            $(document).on("click", "#btnmodal", function(){
              var nombre = $(this).data('nom');
              var id = $(this).data('identidad');
              var correo = $(this).data('correo');
              var fecha = $(this).data('fecha');
              var cambio = $(this).data('cambio');
              var formato = $(this).data('formato');
              
              $("#ide").val(id);
              $("#nombre").val(nombre);
              $("#correo").val(correo);
              $("#fecha").val(fecha);
              $("#cambio").val(cambio);
              $("#formato").val(formato);

              formato = document.getElementById("formato").value;
              document.querySelector('#vistaprevia').setAttribute('src', 'http://localhost:3000/rutas/' + formato);


              nombre = document.getElementById("nombre").value;
              correo = document.getElementById("correo").value;
              document.getElementById('nom').innerHTML = nombre + ' (@'+correo+')';
            });
  
          </script>
          
                    <% }); %>
                </tbody>                  
            </table>
            <!--MODAL DE DATOS-->
          <div class="modal fade " id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-muted" style="font-family: 'Quicksand', sans-serif;" id="nom"> </h5>
                  <button type="button" onclick="borrarLicencia()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-4 pt-0">
                  <form class="row needs-validation text-black" method="POST" action="/panel/administracion/editar_historial" enctype="multipart/form-data">
                    <input type="text" id="ide" name="ide" style="display: none;">
                    <input type="text" id="formato" name="formato" style="display: none;">
                    <input type="text" id="correo" name="correo" style="display: none;">
                    <div class="col-md-6 pt-0 mt-0">
                      <label for="fecha" class="form-label text-muted" style="font-family: 'Quicksand', sans-serif">Fecha y hora de emisión</label>
                      <input type="text" class="form-control fw-bold" disabled readonly id="fecha" name="fecha">
                      
                    </div>
                    <div class="col-md-6 pt-0 mt-0">
                      <label for="cambio" class="form-label text-muted" style="font-family: 'Quicksand', sans-serif">Número de cambio</label>
                      <input type="text" class="form-control fw-bold" disabled readonly id="cambio" name="cambio">
                    </div>
                    <div class="col-sm-12 pt-0">
                      <label for="imagen" class="form-label text-muted" style="font-family: 'Quicksand', sans-serif">Archivo de
                          cambio </label> <span class="text-muted small">(Requerido)</span>
                      <input type="file" class="form-control form-control-sm" id="pdffFile"
                          accept=".pdf" name="pdffFile" onchange="pasarLicencia(event)">
                      <input type="text" class="form-control form-control-sm"
                          style="display: none;" id="nueva_licencia" name="nueva_licencia">
                  </div>
                  <div class="col-sm-12 pt-4">
                      <embed id="vistaPrevia" type="application/pdf" class="col-12 bg-secondary"
                          height="250">
                  </div>
                  <div class="col-12 d-flex pt-3"> 
                    <button class="btn float-end justify-content-lg-start btn-outline-primary col-3" type="submit">SUBIR</button>
                    
                    <div>&nbsp;</div>
                        <input id="nombre" name="nombre" style="display: none;">
                        <button onclick="rutaEliminar()" type="button" class="btn justify-content-lg-end btn-secondary col-3">ELIMINAR</button>
                  </div>
                    </form>
                    </div>
                </div>
              </div>
        </div>
          </div>
    </div>
  </div>
  <script>
    $(document).on("click", "#btnmodal_tarjeton", function () {
      var nombre = $(this).data('nom');
      var fecha = $(this).data('fec');
      var id = $(this).data('identidad');
      var pdf = $(this).data('pdf');

      $("#id").val(id);
      $("#nombre_modal").val(nombre);
      $("#pdf").val(pdf);
      $("#fecha").val(fecha);

      nombre = document.getElementById("nombre_modal").value;
      fec = document.getElementById("fecha").value;
      document.getElementById('nommodal').innerHTML = 'Rol de transporte | ' + nombre + ' ('+ fec +')';
      pdf_tarjeton = document.getElementById("pdf").value;
      document.querySelector('#ver_pdf').setAttribute('src', 'http://localhost:3000/rutas/' + pdf_tarjeton);

    })
  </script>
  <div class="modal fade " id="modal_tarjeton" aria-hidden="true" aria-labelledby="nom" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="nommodal">
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-0 m-0">
          <input type="text" id="nombre_modal" name="nombre_modal" style="display: none;">
          <input type="text" id="fecha" name="fecha" style="display: none;">
          <input type="text" id="pdf" name="pdf" style="display: none;">
          <embed id="ver_pdf" type="application/pdf" width="100%" height="510px" />
        </div>
      </div>
    </div>
  </div>
  <div class="text-white mb-5">.</div>
    
  <script>
      function rutaEliminar(){
                id = document.getElementById("ide").value;
                const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                  confirmButton: 'btn btn-success mx-2',
                  cancelButton: 'btn btn-danger mx-2'
                },
                buttonsStyling: false
              })
              
              swalWithBootstrapButtons.fire({
                title: '¿Está seguro de eliminarlo?',
                text: "El registro del formato quedará eliminado.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: '¡Si, eliminar!',
                cancelButtonText: 'No, ¡cancelar!',
                reverseButtons: true
              }).then((result) => {
                if (result.isConfirmed) {
                  window.location.href = '/panel/administracion/eliminar_historial/'+id;
                } else if (
                  /* Read more about handling dismissals below */
                  result.dismiss === Swal.DismissReason.cancel
                ) {
                  swalWithBootstrapButtons.fire(
                    'Cancelado',
                    'Operación cancelada',
                    'error'
                  )
                }
              })
            }
  </script>
  <%- include('templates/pie.ejs')%>
       
      
  <!-- jquery y bootstrap -->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>   
  
  <!-- datatables con bootstrap -->
  <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap5.min.js"></script>
  
  <!-- Para usar los botones -->
  <script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>
  
  
  <!-- Para los estilos en Excel     -->
  <script src="https://cdn.jsdelivr.net/npm/datatables-buttons-excel-styles@1.1.1/js/buttons.html5.styles.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/datatables-buttons-excel-styles@1.1.1/js/buttons.html5.styles.templates.min.js"></script>
  <script src=//cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js></script>
  <script>
      let pasarLicencia = (event) => {
                var licencia = document.getElementById('pdffFile').value;
                var licencia_nueva = licencia.slice(12);
                document.getElementById('nueva_licencia').value = licencia_nueva;

                let pdffFile = document.querySelector('#pdffFile').files[0];
                let pdffFileURL = URL.createObjectURL(pdffFile) + "#toolbar=0";

                document.querySelector('#vistaPrevia').setAttribute('src', pdffFileURL);
            }

        function borrarLicencia(){
            document.getElementById("pdffFile").value = "";
            document.getElementById("nueva_licencia").value = "";
            document.querySelector('#vistaPrevia').setAttribute('src', "");
        }
       window.sr = ScrollReveal();
      sr.reveal('.top', {
          duration: 2000,
          origin: 'top',
          distance: '-100px'
      });
  
      sr.reveal('.bottom', {
          duration: 2000,
          origin: 'bottom',
          distance: '-100px'
      });
  
  $(document).ready(function () {
     var table = $("#myTable").DataTable({
         "language": {
         "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
         },
         dom: 'tlipB',
         buttons:{
             dom: {
                 button: {
                     className: 'btn'
                 }
             },
             buttons: [
             {
                 //definimos estilos del boton de excel
                 extend: "excel",
             title: 'Historial',
                 text:'<i class="fa-solid fa-file-arrow-down"></i> Excel',
                 className:'btn',
  
                 // 1 - ejemplo básico - uso de templates pre-definidos
                 //definimos los parametros al exportar a excel
                 pageStyle: {
                 sheetPr: {
                     pageSetUpPr: {
                         fitToPage: 1            // Fit the printing to the page
                     } 
                 },
                 printOptions: {
                     horizontalCentered: true,
                     verticalCentered: true,
                 },
                 pageSetup: {
                     orientation: "landscape",   // Orientacion
                     paperSize: "9",             // Tamaño del papel (1 = Legal, 9 = A4)
                     fitToWidth: "1",            // Ajustar al ancho de la página
                     fitToHeight: "0",           // Ajustar al alto de la página
                 },
                 pageMargins: {
                     left: "0.2",
                     right: "0.2",
                     top: "0.4",
                     bottom: "0.4",
                     header: "0",
                     footer: "0",
                 },
                 repeatHeading: true,    // Repeat the heading row at the top of each page
                 repeatCol: 'A:A',       // Repeat column A (for pages wider than a single printed page)
             },
         
                 excelStyles: {                
                     //template: "header_blue",  // Apply the 'header_blue' template part (white font on a blue background in the header/footer)
                     //template:"green_medium" 
                     
                     "template": [
                         "blue_gray_medium",
                         "header_gray",
                     ] 
                     
                 }, 
             },
         {
             extend: "print",
             title: 'Historial',
                 text:'<i class="fa-solid fa-file-pdf"></i> Imprimir',
                 className:'btn btn-outline-secondary',
         }
             ]            
         }            
     });
  
     $('#buscarData').on( 'keyup', function () {
      table.search( this.value ).draw();
  } );
  });
  
  window.sr = ScrollReveal();
  sr.reveal('.top', {
     duration: 3000,
     origin: 'top',
     distance: '-100px'
  });
  
  sr.reveal('.bottom', {
     duration: 3000,
     origin: 'bottom',
     distance: '-100px'
  });
     </script>
  
  </head>