<% if (puesto =="Administración") {%>
    <%- include('templates/menuAdministrador.ejs')%>
  <%}else{%>
    <%- include('templates/menuLogistica.ejs')%>
  <%}%>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
    <link rel="stylesheet" href="http://localhost:3000/animate.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>SCDD | Registrar flotilla</title>
    <style>
        body {
            scroll-behavior: smooth;
        }

        .nomostrar {
            display: none;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 30px rgb(255, 255, 255) inset !important;
            -webkit-text-fill-color: rgb(0, 0, 0) !important;
        }

        label {
  color: #fff;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 5px;
}

        .radio{
            width: 100%;
            margin-top: 0;
            padding-top: 0;
        }

        .radio input[type="radio"]{
            display: none;
        }

        .radio label{
            margin-top: 1%;
            padding-top: 0;
            width: 24.5%;
            color: #4d7691;
            margin-right: 0;
            background-color: white;
            padding: 9px 15px 25px 40px;
            display: inline-block;
            position: relative;
            font-size: 15px;
            font-weight: bold;
            top: 0;
            border-radius: 3px;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        .radio label:hover{
            color: rgba(0, 128, 128, 0.301);
        }

        .radio label::before{
            content: "";
            width: 16px;
            height: 16px;
            display: inline-block;
            background: none;
            border-radius: 50%;
            border: 2px solid #4d7691;
            position: absolute;
            left: 17px;
            top: 12px;
        }

        .radio input[type="radio"]:checked + label{
            padding: 9px 15px 25px 15px;
            background: linear-gradient(to right, rgb(64, 145, 141), rgb(121, 62, 121));
            border-radius: 2px;
            color: white;
        }

        .radio input[type="radio"]:checked + label::before{
            display: none;
        }
    </style>
</head>

<div class="container">
    <form class="needs-validation text-black mb-5 nombres" method="POST" id="formulario" autocomplete="off" action="/panel/administracion/registrar_flotilla" novalidate="" enctype="multipart/form-data">
    <main class="pt-4">
                    <!--DIV que abarca todo el lado derecho-->
            <!--MODAL DE SEGURO-->
            <div class="modal fade" id="licencia" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Selecciona un archivo de
                                            seguro</h5>
                                        <button type="button" class="btn-close" onclick="borrarSeguro()" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body d-flex justify-content-center">
                                        <div class="col-sm-5 mx-5">
                                            <label for="imagen" class="form-label text-black fw-bold h6">Archivo de
                                                seguro </label> <span class="text-muted small">(Opcional)</span>
                                            <input type="file" class="form-control form-control-sm" id="pdffFile"
                                                accept=".pdf" name="pdffFile" onchange="pasarLicencia(event)">
                                            <input type="text" class="form-control form-control-sm"
                                                style="display: none;" id="nueva_licencia" name="nueva_licencia">
                                            <div class="pt-4"></div>
                                            <label for="dia_seguro" class="form-label text-black fw-bold h6">Dia de
                                                vigencia</label>
                                            <select class="form-select col-12 dropdown-menu-dark form-select-sm"
                                                id="dia_seguro" name="dia_seguro">
                                                <option class="text-secondary" style="font-family: sans-serif;" selected
                                                    disabled value=""><small>Selecciona un día</small></option>
                                                <script>
                                                    for (var i = 01; i < 31; i++) {
                                                        document.write('<option style="font-family: sans-serif;" value="' + i + '">' + i + '</option>');
                                                    }
                                                </script>
                                            </select>
                                            <div class="pt-4"></div>
                                            <label for="mes_seguro" class="form-label text-black fw-bold h6">Mes de
                                                vigencia </label>
                                            <select class="form-select dropdown-menu-dark form-select-sm"
                                                id="mes_seguro" name="mes_seguro">
                                                <option class="text-secondary" style="font-family: sans-serif;" selected
                                                    disabled value=""><small>Selecciona un mes</small></option>
                                                <script>
                                                    var meses = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
                                                    for (let i = 0; i < 12; i++) {
                                                        document.write('<option style="font-family: sans-serif;" value="' + meses[i] + '">' + meses[i] + '</option>');
                                                    }
                                                </script>
                                            </select>
                                            <div class="pt-4"></div>
                                            <label for="anyo_seguro" class="form-label text-black fw-bold h6">Año de
                                                vigencia</label>
                                            <select class="form-select dropdown-menu-dark form-select-sm"
                                                id="anyo_seguro" name="anyo_seguro">
                                                <option class="text-secondary" style="font-family: sans-serif;" selected
                                                    disabled value=""><small>Selecciona un
                                                        año</small></option>
                                                <script>
                                                    var myDate = new Date();
                                                    var year = myDate.getFullYear();
                                                    for (var i = 2022; i < year + 10; i++) {
                                                        document.write('<option style="font-family: sans-serif;" value="' + i + '">' + i + '</option>');
                                                    }
                                                </script>
                                            </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <embed id="vistaPrevia" type="application/pdf" class="col-11 bg-secondary"
                                                height="300">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Aceptar</button>
                                    </div>
                                </div>
                            </div>
            </div>

            <!--MODAL DE VERIFICACION-->
            <div class="modal fade" id="verificacion" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Selecciona un archivo de
                                            verificación vehicular</h5>
                                        <button type="button" class="btn-close" onclick="borrarVeri()" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body d-flex justify-content-center">
                                        <div class="col-sm-5 mx-5">
                                            <label for="imagen" class="form-label text-black fw-bold h6">Archivo de
                                                verificación vehicular </label> <span class="text-muted small">(Opcional)</span>
                                            <input type="file" class="form-control form-control-sm" id="pdffFile2"
                                                accept=".pdf" name="pdffFile2" onchange="pasarVerificacion(event)">
                                            <input type="text" class="form-control form-control-sm"
                                                style="display: none;" id="nueva_licencia2" name="nueva_licencia2">

                                            <div class="pt-4"></div>
                                            <label for="tipo_verificacion" class="form-label text-black fw-bold h6">Tipo de verificación vehicular * </label>
                                            <select class="form-select col-12 dropdown-menu-dark form-select-sm"
                                                id="tipo_verificacion" name="tipo_verificacion">
                                                <option class="text-secondary" style="font-family: sans-serif;" selected
                                                    disabled value=""><small>Selecciona una opción</small></option>
                                                    <option>De contaminantes</option>
                                                    <option>Físico-mécania</option>
                                            </select>

                                                <div class="pt-4"></div>
                                            <label for="dia_verificacion" class="form-label text-black fw-bold h6">Dia de
                                                vigencia</label>
                                            <select class="form-select col-12 dropdown-menu-dark form-select-sm"
                                                id="dia_verificacion" name="dia_verificacion">
                                                <option class="text-secondary" style="font-family: sans-serif;" selected
                                                    disabled value=""><small>Selecciona un día</small></option>
                                                <script>
                                                    for (var i = 01; i < 31; i++) {
                                                        document.write('<option style="font-family: sans-serif;" value="' + i + '">' + i + '</option>');
                                                    }
                                                </script>
                                            </select>
                                            <div class="pt-4"></div>
                                            <label for="mes_verificacion" class="form-label text-black fw-bold h6">Mes de
                                                vigencia </label>
                                            <select class="form-select dropdown-menu-dark form-select-sm"
                                                id="mes_verificacion" name="mes_verificacion">
                                                <option class="text-secondary" style="font-family: sans-serif;" selected
                                                    disabled value=""><small>Selecciona un mes</small></option>
                                                <script>
                                                    var meses = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
                                                    for (let i = 0; i < 12; i++) {
                                                        document.write('<option style="font-family: sans-serif;" value="' + meses[i] + '">' + meses[i] + '</option>');
                                                    }
                                                </script>
                                            </select>
                                            <div class="pt-4"></div>
                                            <label for="anyo_verificacion" class="form-label text-black fw-bold h6">Año de
                                                vigencia</label>
                                            <select class="form-select dropdown-menu-dark form-select-sm"
                                                id="anyo_verificacion" name="anyo_verificacion">
                                                <option class="text-secondary" style="font-family: sans-serif;" selected
                                                    disabled value=""><small>Selecciona un
                                                        año</small></option>
                                                <script>
                                                    var myDate = new Date();
                                                    var year = myDate.getFullYear();
                                                    for (var i = 2022; i < year + 10; i++) {
                                                        document.write('<option style="font-family: sans-serif;" value="' + i + '">' + i + '</option>');
                                                    }
                                                </script>
                                            </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <embed id="vistaPrevia2" type="application/pdf" class="col-11 bg-secondary"
                                                height="400">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Aceptar</button>
                                    </div>
                                </div>
                            </div>
            </div>
      <div class="row g-5">
          <!--DIV que abarca todo el lado izquierdo-->
        <div class="col-md-5 col-lg-4 order-md-last">
            <!--Lista de datos al lado izquierdo-->
          <ul class="list-group mb-3 border border-secondary text-center bottom" style="box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);">
            <li class="d-flex pt-3 mb-3 lh-sm">
                <!--Imagen de perfil previa-->
              <div class="justify-content-center col-12 d-flex botones">
                <div width="130" height="130" class="caja shadow-lg">
                    <img src="http://localhost:3000/imagenes/fondo_full.jpg" id="img_ava" style="object-fit: cover;"
                      alt="Navarrete" width="120" height="120" class="rounded-circle bg-light ">
                </div>
              </div>
            </li>
            <!--Datos basicos del usuario-->
            <li class="list-group-item d-flex text-center lh-sm" style="background-color: rgba(54, 121, 126, 0.344);">
              <div class="text-center  col-12 pt-1 mb-1">
                <small class="my-0 text-muted fw-bold ">Número ecónomico</small> <br>
                <small class="fw-bold nombre" style="background-color: transparent; color: rgb(27, 78, 78);"></small> <small class="fw-bold apellidos" style="background-color: transparent; color: rgb(27, 78, 78);;"></small>
              </div>
            </li>
            <li class="list-group-item d-flex text-center lh-sm" style="background-color: rgba(54, 121, 126, 0.344);">
                <div class="text-center col-12 pt-1 mb-1">
                <small class="my-0 text-muted fw-bold ">Número de serie</small> <br>
                <small class="fw-bold serie" style="background-color: transparent; color: rgb(27, 78, 78);;"></small>
              </div>
            </li>
            <li class="list-group-item d-flex text-center" style="background-color: rgba(54, 121, 126, 0.344);">
                <div class="text-center col-12 pt-1 mb-1">
                  <small class="my-0 text-muted fw-bold ">Tipo de placas</small> <br>
                  <small class="fw-bold placas" style="background-color: transparent; color: rgb(27, 78, 78);;"></small>
                </div>
              </li>
            <li class="list-group-item d-flex text-center" style="background-color: rgba(54, 121, 126, 0.344);">
              <div class="text-center col-12 pt-1 mb-1">
                <small class="my-0 text-muted fw-bold ">Número de placas</small> <br>
                <small class="fw-bold nu_placas" style="background-color: transparent; color: rgb(27, 78, 78);;"></small>
              </div>
            </li>
            <li class="list-group-item d-flex text-center" style="background-color: rgba(54, 121, 126, 0.344);">
                <div class="text-center col-12 pt-1 mb-1">
                  <small class="my-0 text-muted fw-bold ">Tipo de flotilla</small> <br>
                  <small class="fw-bold flotilla" style="background-color: transparent; color: rgb(27, 78, 78);;"></small>
                </div>
              </li>
          </ul>
          <!--Lista de los usuarios existentes-->
          <ol class="list-group list-group-numbered my-2 mb-2 bottom" style="font-weight: bold;">
            <% flotillas.forEach((flotillas)=>{ %>
                <li class="list-group-item d-flex justify-content-between align-items-start mb-2"
                style="background-color: rgba(81, 123, 143, 0.199);">
                <% if(flotillas.foto_flotilla.includes("undefined") || (flotillas.foto_flotilla=="" ) || (flotillas.foto_flotilla[flotillas.foto_flotilla.length-1]=="-")){ 
                  var foto='fondo_full.jpg' ; 
                  } else { foto=flotillas.foto_flotilla; } %>
                <img src="http://localhost:3000/flotillas/<%=foto%>" alt="mdo" width="32" height="32"
                  class="mx-2 d-flex rounded-circle">
              <div class="ms-2 me-auto">
                <div class=""> <small style="font-weight: 650;"> # <%= flotillas.numero_economico%></small></div>
                <small style="font-weight: 500; "><%= flotillas.nombre_propietario%></small>
              </div>
              <% if(flotillas.status_flotilla== true){
                  var opcion = 'ver';
                 } else {
                  opcion = 'ocultar';
                }
              %>
              <span class="badge rounded-pill"><i class="fa-solid fa-circle-check <%=opcion%>"></i></span>
            </li>
            <% }); %>
            
            <%if(flotillas.length==0) {
                var mensaje = 'No hay flotillas registradas, hasta este momento.';
            } else {
                mensaje = 'Ver lista completa'
            }%>
          <a href="/panel/administracion/listado-flotilla" class="text-center pt-1 perfil text-secondary"
          style="font-weight: bold;  text-decoration: none; font-family: 'Raleway', sans-serif;"><%=mensaje%></a>
          </ol>
        </div>

        <div class="col-md-7 col-lg-8 mb-5 p-5 text-black top nombres shadow-lg" id="formulario" style="background-image: url(http://localhost:3000/imagenes/otro.png);">
        <p class="pt-1 mb-4 text-center text-muted fw-bold h2" style="font-family: 'Quicksand', sans-serif;"><i class="fa-regular fa-keyboard text-muted"></i> Registro de una nueva flotilla </p>
        <!--FORMULARIO inicia-->
            <small class="text-muted">LLene el siguiente formulario, los campos obligatorios son marcados *:</small>
            <hr class="py-1">
            <div class="row g-3">
                <!--Campo de nombre-->
              <div class="col-sm-6 ">
                <label for="nombre" class="form-label text-black fw-bold h6"> <i class="small text-secondary fa-regular fa-user"></i> Nombre de propietario*</label>
                <input type="text" class="form-control fw-bold h6 text-secondary" style="text-transform: capitalize;" id="nombre" name="nombre" placeholder="Ej. José Luis" value="" required>
                <div class="invalid-feedback">
                  Por favor, ingrese un nombre.
                </div>
              </div>
              <!--Campo de apellidos-->
              <div class="col-sm-6">
                <label for="apellidos" class="form-label text-black fw-bold h6"> <i class="small text-secondary fa-regular fa-user"></i> Apellidos de propietario*</label>
                <input type="text" class="form-control fw-bold h6 text-secondary" id="apellidos" name="apellidos" style="text-transform: capitalize;" placeholder=" Ej.Pérez Lopez" value="" required="">
                <div class="invalid-feedback">
                    Por favor, ingrese los apellidos.
                </div>
              </div>
              <hr>
              <!--Campos para el numero celular-->
              <div class="col-sm-4">
                <label for="numero_eco" class="form-label text-black fw-bold h6"> <i class="small text-secondary fa-solid fa-hashtag"></i> Número ecónomico * </label>
                <input type="number" autocomplete="off" class="form-control fw-bold h6 text-secondary" id="numero_eco" name="numero_eco" placeholder="01" required="">
              </div>
              <div class="col-sm-4">
                <label for="numero_se" class="form-label text-black fw-bold h6"> <i class="small text-secondary fa-solid fa-hashtag"></i> Número se serie * </label>
                <input type="text" autocomplete="off" class="text-uppercase form-control fw-bold h6 text-secondary" id="numero_se" name="numero_se" placeholder="AB09..." required="">
              </div>
              <div class="col-sm-4">
                <label for="numero_permiso" class="form-label text-black fw-bold h6"> <i class="small text-secondary fa-solid fa-hashtag"></i> Número de permiso * </label>
                <input type="text" autocomplete="off" class="text-uppercase form-control fw-bold h6 text-secondary" id="numero_permiso" name="numero_permiso" placeholder="AB09..." required="">
              </div>
              <div class="col-sm-12">
                <label for="motor" class="form-label text-black fw-bold h6"><i class="small text-secondary fa-solid fa-hashtag"></i> Número de motor*</label>
                <input type="text" class="form-control fw-bold h6 text-secondary" id="motor" name="motor" style="text-transform: capitalize;" placeholder="AB09..." value="" required="">
                <div class="invalid-feedback">
                    Por favor, ingrese los apellidos.
                </div>
              </div>
              <!--Campo para el area de trabajo-->
              <div class="col-sm-6">
                <label for="tipo_placas" class="form-label text-black fw-bold h6" ><i class="small text-secondary fa-solid fa-angles-down"></i> Tipo de placas * </label>
                <select class="form-select col-12 dropdown-menu-dark form-select-sm"
                id="tipo_placas" name="tipo_placas">
                <option class="text-secondary" style="font-family: sans-serif;" selected
                    disabled value=""><small>Selecciona un día</small></option>
                    <option>Federales</option>
                    <option>Estatales</option>
            </select>
            </div>
            <!--Apartado para la contraseña-->
            <div class="col-sm-6">
                <label for="placas" class="form-label text-black fw-bold h6"><i class="small text-secondary fa-solid fa-hashtag"></i> Número de placas * </label>
                <input type="text" autocomplete="off" class="text-uppercase form-control fw-bold h6 text-secondary" id="placas" name="placas" placeholder="AB09..." value="" required>
                <div class="invalid-feedback">
                  Por favor, ingrese una contraseña.
                </div>
              </div>
              <hr>
            <div class="col-sm-12">
                <input id="tipo_flotilla_string" name="tipo_flotilla_string" style="display: none;">
                <label for="radio" class="form-label text-black fw-bold h6 mb-0"><i class="small text-secondary fa-solid fa-circle-notch"></i> Tipo flotilla * </label>
                <div class="radio col-12 pt-0 m-0" id="radio">
                    <input type="radio" name="tipo_flotilla" id="turismo" onclick="getDesc();" value="Turísmo">
                    <label class="col-sm-3" for="turismo">Turismo</label>
            
                    <input type="radio" name="tipo_flotilla" id="personal" onclick="getDesc();" value="Personal">
                    <label class="col-sm-3" for="personal">De personal</label>
            
                    <input type="radio" name="tipo_flotilla" id="ambas" onclick="getDesc();" value="Doble uso">
                    <label class="col-sm-3" for="ambas">Turismo/Personal</label>
                    
                    <input type="radio" name="tipo_flotilla" id="utilidaria" onclick="getDesc();" value="Utilitario">
                    <label class="col-sm-3" for="utilidaria">Utilitario</label>
                </div>
              <!--Campos para seleccionar la imagen de perfil-->
            <div class="row">
                <div class="col-sm-6 mb-3 pt-4">
                    <label for="imagen" class="form-label text-black fw-bold h6"><i class="small text-secondary fa-regular fa-images"></i> Imagen de presentación </label> <span class="text-muted small">(Optional)</span>
                    <input type="file" accept="image/*" class="form-control form-control-sm" id="imagen" name="imagen" value="vavs" onchange="vista(event)">
                    <input type="text" style="display: none;" id="imagen_nueva" name="imagen_nueva">
                  </div> 
                  <div class="col-sm-6 mb-3 pt-4">
                    <label for="imagen" class="form-label text-black fw-bold h6"> <i class="small text-secondary fa-regular fa-file-pdf"></i> Documentos </label> <span class="text-muted small">(Optional)</span>
                    <div class="btn-group btn-group-sm col-12 mb-5" role="group" aria-label="Basic outlined example">
                      <button type="button"
                          class="btn border border-secondary btn-outline-secondary fw-bold shadow-sm"
                          data-bs-toggle="modal" data-bs-target="#licencia">Seguro</button>
                      <button type="button"
                          class="btn border border-secondary btn-outline-secondary fw-bold shadow-sm"
                          data-bs-toggle="modal" data-bs-target="#verificacion">Verificación</button>
                  </div>  
                  </div>
            </div>
            
            <!--Area de botones-->
            <div class="col-12 d-flex justify-content-center">
                <div class="enviar col-sm-5">
                    <button class="w-100 btn btn-small enviar_dos" style="outline: none;" type="submit"><strong>REGISTRAR</strong></button>
                </div>
                <div class="col-sm-0"> &nbsp; &nbsp; </div>
                <div class="col-sm-5">
                    <button class="w-100 btn btn-small btn-secondary" onclick="cancelar();" style="outline: none;" type="reset"><strong>CANCELAR</strong></button>
                </div>
            </div>
            <!--FIN DE FORMULARIO-->
          </form>
        </div>
      </div>
    </main>
  </div>
  
<%- include('templates/pie.ejs')%>
  <script>
      let vista = (event) => {
        let leer_img = new FileReader();
        let id_img = document.getElementById('img_ava');
        leer_img.onload = () => {
            if (leer_img.readyState == 2) {
                id_img.src = leer_img.result
            }
        }
        leer_img.readAsDataURL(event.target.files[0])
        var imagen = document.getElementById('imagen').value;
        var imagen_nueva = imagen.slice(12);
        document.getElementById('imagen_nueva').value = imagen_nueva;
    }

    function cancelar(){
        let id_img = document.getElementById('img_ava');
        id_img.src = id_img.src = 'http://localhost:3000/imagenes/fondo_full.jpg';
    }

    function borrarExamen(){
            document.getElementById("pdffFile").value = "";
            document.getElementById("nueva_licencia").value = "";
            document.getElementById("dia_examen").value = "";
            document.getElementById("mes_examen").value = "";
            document.getElementById("anyo_examen").value = "";
            document.querySelector('#vistaPrevia').setAttribute('src', "");
        }

    function borrarVeri(){
        document.getElementById("pdffFile2").value = "";
        document.getElementById("nueva_licencia2").value = "";
        document.getElementById("tipo_verificacion").value = "";
        document.getElementById("dia_verificacion").value = "";
        document.getElementById("mes_verificacion").value = "";
        document.getElementById("anyo_verificacion").value = "";
        document.querySelector('#vistaPrevia2').setAttribute('src', "");
}

    let pasarLicencia = (event) => {
        var licencia = document.getElementById('pdffFile').value;
        var licencia_nueva = licencia.slice(12);
        document.getElementById('nueva_licencia').value = licencia_nueva;
    }

    document.querySelector('#pdffFile').addEventListener('change', () => {

    let pdffFile = document.querySelector('#pdffFile').files[0];
    let pdffFileURL = URL.createObjectURL(pdffFile) + "#toolbar=0";

    document.querySelector('#vistaPrevia').setAttribute('src', pdffFileURL);
    })

    let pasarVerificacion = (event) => {
        var examen = document.getElementById('pdffFile2').value;
        var examen_nueva = examen.slice(12);
        document.getElementById('nueva_licencia2').value = examen_nueva;

        let pdffFile = document.querySelector('#pdffFile2').files[0];
        let pdffFileURL = URL.createObjectURL(pdffFile) + "#toolbar=0";

        document.querySelector('#vistaPrevia2').setAttribute('src', pdffFileURL);
    }

    var nombre = document.getElementById('numero_eco');
    nombre.addEventListener('keyup', (event) => {
        var inputText = event.path[0].value;
        document.querySelector('.nombre').innerHTML = inputText.toUpperCase();
    })

    var serie = document.getElementById('numero_se');
    serie.addEventListener('keyup', (event) => {
        var inputText = event.path[0].value;
        document.querySelector('.serie').innerHTML = inputText.toUpperCase();
    })

    var placas = document.getElementById('placas');
    placas.addEventListener('keyup', (event) => {
        var inputText = event.path[0].value;
        document.querySelector('.nu_placas').innerHTML = inputText.toUpperCase();
    })

    var t_placas = document.getElementById('tipo_placas');
    t_placas.addEventListener('change', (event) => {
        var inputText = event.path[0].value;
        document.querySelector('.placas').innerHTML = inputText.toUpperCase();
    })

    (() => {
                'use strict'

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                const forms = document.querySelectorAll('.needs-validation')

                // Loop over them and prevent submission
                Array.from(forms).forEach(form => {
                    form.addEventListener('submit', event => {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
            })()

    function getDesc(){
                var x=0;
                var y =document.getElementsByName("tipo_flotilla");
 
                        for(var i=0;i<y.length;i++)
                        {
                            if(y[i].checked){
                                x=y[i].value;
                            }
                        }
               console.log(x)
               document.querySelector('.flotilla').innerHTML = x;
               document.getElementById('tipo_flotilla_string').value = x;
            }

            window.sr = ScrollReveal();
    sr.reveal('.top', {
        duration: 3000,
        origin: 'top',
        distance: '-100px'
    });

    sr.reveal('.bottom', {
        duration: 3000,
        origin: 'bottom',
        distance: '-100px'
    });
  </script>