<% if (puesto =="Administración") {%>
  <%- include('templates/menuAdministrador.ejs')%>
<%}else{%>
  <%- include('templates/menuLogistica.ejs')%>
<%}%>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://unpkg.com/scrollreveal"></script>    
        <link rel="stylesheet" href="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.18/datatables.min.css">
        <script src="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.18/datatables.min.js"></script>
    
        <!-- Buttons -->
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
        <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
        <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.53/build/pdfmake.min.js"></script>
        <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.53/build/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    
     <!-- Buttons -->
    <title>SCDD | Registro de rutas </title>

    <style>
        table.dataTable{
            border-bottom: 1px solid rgb(201, 201, 201);
        }

        table.dataTable thead{
            background-color: #356967;
            color: azure;
        }

        .page-item.active .page-link{
            border: 1px solid white;
            background-color: #356967;
            color: azure;
        }

        .page-link{
            color: #000;
        }
        
        .dataTables_info{
            color: rgb(65, 65, 65);
        }

        .buttons-excel:hover{
            background-color: #356967;
            color: #fff;
        }

        .buttons-excel{
            border: 1px solid #356967;
            color: #356967;
        }

        label {
  color: #fff;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 5px;
}

    </style>
</head>
<div id="registro" class="text-white">.</div>      

<div class="container my-0 px-0">
    <div class="row border shadow-lg top" style="background-image: url(http://localhost:3000/imagenes/otro.png);">
      <div class="col-lg-10 pt-4 px-5 mt-0">
        <p class="pt-4 mb-4 text-center text-muted fw-bold h2" style="font-family: 'Quicksand', sans-serif;"><i class="fa-regular fa-keyboard text-muted"></i> Registro de nueva ruta</p>
        <!--FORMULARIO inicia-->
          <form class="needs-validation text-black mb-5 nombres" method="POST" action="/panel/administracion/registrar_ruta">
            <small class="text-black fw-bold" style="font-family: 'Raleway', sans-serif; color: #000">LLene el siguiente formulario, los campos obligatorios son marcados *:</small>
            <hr class="py-1">
            <div class="row g-3">
                <!--Campo de nombre-->
                <div class="col-sm-4">
                    <label for="numero_ruta" class="form-label fw-bold text-black h6" style="font-family: 'Raleway', sans-serif; color: #000">Nombre o número de ruta *</label>
                    <input type="text" list="area" class="form-control fw-bold h6 text-secondary" style="text-transform: capitalize;" id="numero_ruta" name="numero_ruta" placeholder="Ej. Ruta 1 o Ej. Ruta A1" required>
                    <datalist id="area">
                        <script>
                           var rutas = ["01", "02", "03", "04", "05", "07", "08", "09", "10", "11", "13", "17", "18", "19", "21", "22", "23", "MK", "A1", "A17", "A2", "A18", "A3", "A19", "A4", "A5", "A6", "A7", "A8", "A10", "A11", "A12", "A13", "A14", "A15", "A16", "H1", "H4", "H5", "H6", "H7", "H8"];
                            for (var i = 0; i <rutas.length; i++) {
                                document.write('<option style="font-family: sans-serif;" value="Ruta ' + rutas[i] + '"></option>');
                            }
                        </script>
                        <option>Ruta A1</option>
                        <option>Ruta H1</option>
                      </datalist>
                    
                  </div>
                  <div class="col-sm-4">
                    <label for="origen_ruta" class="form-label fw-bold text-black h6" style="font-family: 'Raleway', sans-serif; color: #000">Origen *</label>
                    <input type="text" list="origenes" class="form-control fw-bold h6 text-secondary" id="origen_ruta" name="origen_ruta" placeholder="Ej. Arroyo Zarco" required>
                    <datalist id="origenes">
                        <script>
                            var meses = ["Arroyo Zarco", "Aculco", "San Joaquín", "La concepción", "San Lucas", "Santa María", "Zothe", "Tlaxcalilla", "Jonacapa", "Huichapan", "Santa Ana", "Polotitlan", "Tecozautla", "Caderayta", "Pedro Escobedo", "Dañu", "San Pedro", "Acambay", "Publo Nuevo", "Tlaunilolpan", "San Bartolo", "Temascalcigo", "Soyaniquilpan"];
                            for (let i = 0; i <meses.length; i++) {
                                document.write('<option style="font-family: sans-serif;" value="' + meses[i] + '">' + meses[i] + '</option>');
                            }
                        </script>
                      </datalist>
                  </div>
                  <div class="col-sm-4">
                    <label for="destino_ruta" class="form-label fw-bold text-black h6" style="font-family: 'Raleway', sans-serif; color: #000">Destino *</label>
                    <input type="text" list="destnos" class="form-control fw-bold h6 text-secondary" id="destino_ruta" name="destino_ruta" placeholder="Ej. Aculco" required>
                    <datalist id="destnos">
                        <script>
                            var meses = ["Arroyo Zarco", "Aculco", "San Joaquín", "La concepción", "San Lucas", "Santa María", "Zothe", "Tlaxcalilla", "Jonacapa", "Huichapan", "Santa Ana", "Polotitlan", "Tecozautla", "Caderayta", "Pedro Escobedo", "Dañu", "San Pedro", "Acambay", "Publo Nuevo", "Tlaunilolpan", "San Bartolo", "Temascalcigo", "Soyaniquilpan"];
                            for (let i = 0; i <= meses.length; i++) {
                                document.write('<option style="font-family: sans-serif;" value="' + meses[i] + '">' + meses[i] + '</option>');
                            }
                        </script>
                      </datalist>
                  </div>
                  <div class="col-sm-4">
                    <label for="turno1" class="form-label fw-bold text-black h6" style="font-family: 'Raleway', sans-serif; color: #000">Hora de inicio, turno 1° *</label>
                    <input type="time" class="form-control form-control-sm fw-bold h6 text-secondary" style="font-family: 'Raleway',sans-serif;" id="turno1" name="turno1" placeholder="Ej. Aculco" value="13:00" required>
                  </div>
                  <div class="col-sm-4">
                    <label for="turno2" class="form-label fw-bold text-black h6" style="font-family: 'Raleway', sans-serif; color: #000">Hora de inicio, turno 2° *</label>
                    <input type="time" class="form-control form-control-sm fw-bold h6 text-secondary" style="font-family: 'Raleway',sans-serif;" id="turno2" name="turno2" placeholder="Ej. Aculco" value="13:00" required>
                  </div>
                  <div class="col-sm-4">
                    <label for="turno3" class="form-label fw-bold text-black h6" style="font-family: 'Raleway', sans-serif; color: #000">Hora de inicio, turno 3° *</label>
                    <input type="time" class="form-control form-control-sm fw-bold h6 text-secondary" style="font-family: 'Raleway',sans-serif;" id="turno3" name="turno3" placeholder="Ej. Aculco" value="13:00" required>
                  </div>
                  </div>
                  <div class="pt-4 row justify-content-lg-end d-flex">
                    <div class="col-sm-3">
                        <button class="w-100 btn btn-small btn-secondary" onclick="cancelar();" style="outline: none;" type="reset"><strong>CANCELAR</strong></button>
                    </div>
                    <div class="enviar col-sm-3">
                        <button class="w-100 btn btn-small enviar_dos" style="outline: none; border: none;" type="submit"><strong>REGISTRAR</strong></button>
                    </div>
                  </div>
            </div>
          </form>
          
          <div class="col-lg-2 overflow-hidden shadow-lg top" style="background-image: linear-gradient(-60deg, #03989E 60%, rgb(85, 110, 175)  100%);">
            <img class="rounded-lg-3 abajo" src="http://localhost:3000/imagenes/extraazul.png" style="object-fit: cover;" alt="" width="300" height="auto" >
        </div>
        </div>
      </div>
  </div>
  <div class="container mt-5 top px-0">
    <div class="row d-flex justify-content-between p-0" style="border: none; background-color: transparent">
          <div class="col-sm-12 mb-4" style="border: none;">
            <table id="myTable" class="table table-hover pt-3" style="width:100%">
                <thead>
                    <TR>
                        <TH class="text-center" COLSPAN=1>Ruta</TH>
                        <TH class="text-center" COLSPAN=2>Ruta</TH>
                        <TH class="text-center" COLSPAN=3>Hora de inicio</TH>
                        <TH class="text-center" COLSPAN=3>Acciones</TH>
                    </TR>
                    <tr>
                        <th class="text-center">Número</th>
                        <th class="text-center">Origen</th>
                        <th class="text-center">Destino</th>
                        <th class="text-center">Turno 1°</th>
                        <th class="text-center">Turno 2°</th>
                        <th class="text-center">Turno 3°</th>
                        <th class="text-center">Editar</th>
                        <th class="text-center">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <% rutas.forEach((rutas)=>{ %>
                    <tr>
                        <td class="text-center"><%= rutas.numero_ruta%></td>
                        <td class="text-center"><%= rutas.origen_ruta%></td>
                        <td class="text-center"><%= rutas.destino_ruta%></td>
                        <td class="text-center"><%= rutas.hora_inicio_turno1%> HRS</td>
                        <td class="text-center"><%= rutas.hora_inicio_turno2%> HRS</td>
                        <td class="text-center"><%= rutas.hora_inicio_turno3%> HRS</td>
                        <td class="text-center">
                            <button type="button" id="btnmodal" data-bs-toggle="modal" data-bs-target="#exampleModal" 
                            data-id="<%= rutas._id%>"
                            data-nom="<%= rutas.numero_ruta%>" data-origen="<%= rutas.origen_ruta%>" data-destino="<%= rutas.destino_ruta%>"  data-turno1="<%= rutas.hora_inicio_turno1%>"
                            data-turno2="<%= rutas.hora_inicio_turno2%>" data-turno3="<%= rutas.hora_inicio_turno3%>" class="btn" style="border: none;"> <i class="fa-regular fa-pen-to-square"></i></button></td></td>
                        <td class="text-center"><button type="button" onclick="abrirSwal(JSON.parse('<%=JSON.stringify(rutas._id)%>'));" class="btn text-secondary" style="border: none;"><i class="fa-regular fa-trash-can"></i></button></td></td>
                    </tr>
                    <% }); %>
                </tbody>                  
            </table>
            <script>
                function abrirSwal(id){
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                  confirmButton: 'btn btn-success mx-2',
                  cancelButton: 'btn btn-danger mx-2'
                },
                buttonsStyling: false
              })
              
              swalWithBootstrapButtons.fire({
                title: '¿Está seguro de eliminarlo?',
                text: "El registro de la ruta quedará eliminado.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: '¡Si, eliminar!',
                cancelButtonText: 'No, ¡cancelar!',
                reverseButtons: true
              }).then((result) => {
                if (result.isConfirmed) {
                  window.location.href = '/panel/administracion/eliminar-ruta/'+id;
                } else if (
                  /* Read more about handling dismissals below */
                  result.dismiss === Swal.DismissReason.cancel
                ) {
                  swalWithBootstrapButtons.fire(
                    'Cancelado',
                    'Operación cancelada',
                    'error'
                  )
                }
              })
    }
            </script>

          </div>
    </div>
  </div>
  <script>
    $(document).on("click", "#btnmodal", function(){
      var id = $(this).data('id');
      var nombre = $(this).data('nom');
      var origen = $(this).data('origen');
      var destino = $(this).data('destino');
      var turno1 = $(this).data('turno1');
      var turno2 = $(this).data('turno2');
      var turno3 = $(this).data('turno3');

      $("#id").val(id);
      $("#nombre").val(nombre);
      $("#ruta").val(nombre);
      $("#prueba").val(origen);
      $("#pruebados").val(destino);
      $("#pruebatres").val(turno1);
      $("#pruebacuatro").val(turno2);
      $("#pruebacinco").val(turno3);
      
      nombre = document.getElementById("nombre").value;
      document.getElementById('nom').innerHTML = nombre;

    })
    </script>

  <div class="modal fade" id="exampleModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="nom">Ruta</h5>
          <input type="text" id="nombre" name="nombre" style="display: none;">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/panel/administracion/modificar-ruta" method="POST">
            <input id="id" name="id" style="display: none;">
        <div class="modal-body">
            <div class="row g-3">
                <!--Campo de nombre-->
                <div class="col-sm-4">
                    <label for="ruta" class="form-label fw-bold text-black h6" style="font-family: 'Raleway', sans-serif; color: #000">Nombre o número de ruta *</label>
                    <input type="text" list="area" class="form-control fw-bold h6 text-secondary" style="text-transform: capitalize;" id="ruta" name="ruta" placeholder="Ej. Ruta 1 o Ej. Ruta A1">
                    <datalist id="area">
                        <script>
                            for (var i = 1; i < 24; i++) {
                                document.write('<option style="font-family: sans-serif;" value="Ruta ' + i + '"> </option>');
                            }
                        </script>
                        <option>Ruta A1</option>
                        <option>Ruta H1</option>
                      </datalist>
                  </div>
                  <div class="col-sm-4">
                    <label for="prueba" class="form-label fw-bold text-black h6" style="font-family: 'Raleway', sans-serif; color: #000">Origen *</label>
                    <input type="text" class="form-control fw-bold h6 text-secondary" id="prueba" name="prueba" placeholder="Ej. Arroyo Zarco">
                  </div>
                  <div class="col-sm-4">
                    <label for="destino" class="form-label fw-bold text-black h6" style="font-family: 'Raleway', sans-serif; color: #000">Destino *</label>
                    <input type="text" class="form-control fw-bold h6 text-secondary" id="pruebados" name="pruebados" placeholder="Ej. Aculco">
                   
                  </div>
                  <div class="col-sm-4">
                    <label for="hora_turno1" class="form-label fw-bold text-black h6" style="font-family: 'Raleway', sans-serif; color: #000">Hora de inicio, turno 1° *</label>
                    <input type="time" class="form-control form-control-sm fw-bold h6 text-secondary" style="font-family: 'Raleway',sans-serif;" id="pruebatres" name="pruebatres" placeholder="13:00">
                  </div>
                  <div class="col-sm-4">
                    <label for="hora_turno2" class="form-label fw-bold text-black h6" style="font-family: 'Raleway', sans-serif; color: #000">Hora de inicio, turno 2° *</label>
                    <input type="time" class="form-control form-control-sm fw-bold h6 text-secondary" style="font-family: 'Raleway',sans-serif;" id="pruebacuatro" name="pruebacuatro" placeholder="13:00">
                  </div>
                  <div class="col-sm-4">
                    <label for="hora_turno3" class="form-label fw-bold text-black h6" style="font-family: 'Raleway', sans-serif; color: #000">Hora de inicio, turno 3° *</label>
                    <input type="time" class="form-control form-control-sm fw-bold h6 text-secondary" style="font-family: 'Raleway',sans-serif;" id="pruebacinco" name="pruebacinco" placeholder="13:00">
                  </div>
                  </div>
        </div>
        <div class="modal-footer">
          <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar cambios</button>
        </div>
    </form>
      </div>
    </div>
  </div>
    <div class="text-white">.</div>
    

  
<%- include('templates/pie.ejs')%>
     
    
<!-- jquery y bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>   

<!-- datatables con bootstrap -->
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap5.min.js"></script>

<!-- Para usar los botones -->
<script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>


<!-- Para los estilos en Excel     -->
<script src="https://cdn.jsdelivr.net/npm/datatables-buttons-excel-styles@1.1.1/js/buttons.html5.styles.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/datatables-buttons-excel-styles@1.1.1/js/buttons.html5.styles.templates.min.js"></script>
<script>
     window.sr = ScrollReveal();
    sr.reveal('.top', {
        duration: 2000,
        origin: 'top',
        distance: '-100px'
    });

    sr.reveal('.bottom', {
        duration: 2000,
        origin: 'bottom',
        distance: '-100px'
    });

$(document).ready(function () {
   var table = $("#myTable").DataTable({
       "language": {
       "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
       },
       dom: 'ftlip',
       buttons:{
           dom: {
               button: {
                   className: 'btn'
               }
           },
           buttons: [
           {
               //definimos estilos del boton de excel
               extend: "excel",
           title: 'Fechas',
               text:'<i class="fa-solid fa-file-arrow-down"></i>',
               className:'btn',

               // 1 - ejemplo básico - uso de templates pre-definidos
               //definimos los parametros al exportar a excel
               pageStyle: {
               sheetPr: {
                   pageSetUpPr: {
                       fitToPage: 1            // Fit the printing to the page
                   } 
               },
               printOptions: {
                   horizontalCentered: true,
                   verticalCentered: true,
               },
               pageSetup: {
                   orientation: "landscape",   // Orientacion
                   paperSize: "9",             // Tamaño del papel (1 = Legal, 9 = A4)
                   fitToWidth: "1",            // Ajustar al ancho de la página
                   fitToHeight: "0",           // Ajustar al alto de la página
               },
               pageMargins: {
                   left: "0.2",
                   right: "0.2",
                   top: "0.4",
                   bottom: "0.4",
                   header: "0",
                   footer: "0",
               },
               repeatHeading: true,    // Repeat the heading row at the top of each page
               repeatCol: 'A:A',       // Repeat column A (for pages wider than a single printed page)
           },
       
               excelStyles: {                
                   //template: "header_blue",  // Apply the 'header_blue' template part (white font on a blue background in the header/footer)
                   //template:"green_medium" 
                   
                   "template": [
                       "blue_gray_medium",
                       "header_gray",
                   ] 
                   
               }, 
           },
       {
           extend: "pdfHtml5",
           title: 'Fechas',
               text:'<i class="fa-solid fa-file-pdf"></i>',
               className:'btn',
       }
           ]            
       }            
   });

   $('#buscarData').on( 'keyup', function () {
    table.search( this.value ).draw();
} );
});

window.sr = ScrollReveal();
sr.reveal('.top', {
   duration: 3000,
   origin: 'top',
   distance: '-100px'
});

sr.reveal('.bottom', {
   duration: 3000,
   origin: 'bottom',
   distance: '-100px'
});
   </script>

</head>